<mat-card [formGroup]="fieldset">
  <mat-card-header>
    <mat-card-title>Toma Posesión <app-curso-ige-label [id]="curso.value"></app-curso-ige-label></mat-card-title>  </mat-card-header>
  <mat-card-content>
    <p>Los datos consignados en el siguiente formulario serán transferidos directamente a las oficinas de Contralor para ser cargados en la liquidación de haberes.</p>
    <p>Verifique que sean completados correctamente</p>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="nombres" [title]="'Nombres'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="apellidos" [title]="'Apellidos'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-number [field]="numeroDocumento" [title]="'Numero Documento'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-number>
        <core-input-date [field]="fechaNacimiento" [title]="'Fecha Nacimiento'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-date>      
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-number [field]="cuil" [title]="'Cuil'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-number>
        <core-input-select-param [field]="genero" [options]="['Femenino','Masculino','Otro']" [title]="'Genero'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-select-param>
      </div>
      
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="telefono" [title]="'Telefono'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="emailAbc" [title]="'Email Abc'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>  
    <mat-error *ngIf="fieldset.hasError('cuilDni')">Error: El CUIL y DNI no coinciden</mat-error>

  </mat-card-content>

</mat-card>


