<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenido Docente</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="(load$ | async) && load; else loading">
    <div *ngFor="let row of dataSource; let i = index;">
      <p>Seleccione el curso en el cual ha sido designado para efectuar la toma de posesión</p>
      <p>Cualquier inconveniente informenos a coordinadores.cens456@gmail.com</p>
      <div  fxLayout fxLayout.xs="column" [ngClass]="{'comision-bg-light': 0 === i % 2, 'comision-bg-dark': 0 !== i % 2}">
        <div id="comisiones" fxFlex="50%" fxFlex.xs="100%">
          <mat-card [ngClass]="{'comision-bg-light': 0 === i % 2, 'comision-bg-dark': 0 !== i % 2}">
            <mat-card-header>
              <mat-card-title>
                {{row.sede_.numero}} 
                {{row.division}} 
                <span *ngIf="row.planificacion">{{row.planificacion_.anio}}{{row.planificacion_.semestre}}</span>
              </mat-card-title>
              <mat-card-subtitle>{{row.sede_.nombre}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list role="list" >
                <mat-list-item *ngIf="row.planificacion" role="listitem">{{row.planificacion_.plan_.orientacion}} - {{row.planificacion_.plan_.distribucion_horaria}}</mat-list-item>
              </mat-list>
            </mat-card-content>            
          </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
            <mat-card *ngFor="let curso of row.cursos">
              <mat-card-content>
                <strong>IGE {{curso.ige}}</strong>&nbsp;
                <strong>{{curso.asignatura_.nombre}}</strong>
                <br><span class="mat-small">&nbsp;{{curso.horario}} - {{curso.horas_catedra}} horas cátedra</span>
                <br>
                <br><a routerLink="/toma-posesion" [queryParams]="{'id':curso.id}">TOMAR POSESIÓN</a>
              </mat-card-content>
            </mat-card>  
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <mat-paginator *ngIf="display"
                   [length]="length"
                   [pageSize]="display.size"
                   [pageIndex]="display.page-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>  
  </mat-card-content>
</mat-card>
