<mat-card>
  <mat-card-header>
    <mat-card-title>Persona</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="(loadLength$ | async) as length">
    <table mat-table *ngIf="(load$ | async)" [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_nacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento | toDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="numero_documento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Documento </th>
        <td mat-cell *matCellDef="let row"> {{row.numero_documento}} </td>
      </ng-container>

      <ng-container matColumnDef="cuil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuil </th>
        <td mat-cell *matCellDef="let row"> {{row.cuil}} </td>
      </ng-container>

      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Genero </th>
        <td mat-cell *matCellDef="let row"> {{row.genero}} </td>
      </ng-container>

      <ng-container matColumnDef="apodo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apodo </th>
        <td mat-cell *matCellDef="let row"> {{row.apodo}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="alta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alta </th>
        <td mat-cell *matCellDef="let row"> {{row.alta | toDate | date:'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="domicilio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domicilio </th>
        <td mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/domicilio-show']" [queryParams]="{id:row.domicilio}" >{{row.domicilio | label:'domicilio'}}</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator *ngIf="(display$ | async) as display"
                   [length]="length"
                   [pageSize]="display.size"
                   (page)="onChangePage($event)">
    </mat-paginator>  
  </mat-card-content>
</mat-card>
